<!-- templates/memcached_status.html -->

<h1>cache status</h1>

{% for stats in server_stats %}
<dl>
<dl>
<dt>{{ stats.hostname }}</dt>
<dd>
    <ul>
    <li>memory usage:
        {{ stats.bytes|filesizeformat }}
    <li>keys in cache:
        {{ stats.curr_items }} of {{ stats.total_items }}
    <li>cache hits:
        {{ stats.get_hits }} of {{ stats.cmd_get }}:
        <b>{{ stats.hit_rate }}%</b>
    <li>cache traffic:
        {{ stats.bytes_read|filesizeformat }} in,
        {{ stats.bytes_written|filesizeformat }} out
    <li>uptime: {{ stats.uptime }}
    </ul>
</dd>
{% endfor %}
