# Database configuration
#
DATABASE_ENGINE = 'sqlite3'    # 'postgresql', 'mysql', 'sqlite3' or 'ado_mssql'.
DATABASE_NAME = '/opt/webredirects/db/sqlite.db' # Or path to database file if using sqlite3.
DATABASE_USER = ''             # Not used with sqlite3.
DATABASE_PASSWORD = ''         # Not used with sqlite3.
DATABASE_HOST = ''             # Set to empty string for localhost. Not used with sqlite3.
DATABASE_PORT = ''             # Set to empty string for default. Not used with sqlite3.

# The directory where all the subdirectories with the sites are located.  Each
# site needs to have its own subdirectory inside sites_root, and the directory
# for each site needs to be named after the canonical domain name for that
# site, including a leading 'www.'.  E.g., if sites_root is set to '/var/www',
# the site for www.example.org needs to be in /var/www/www.example.org/.
#
SITES_ROOT = '/var/www'

# The directory with the fall-through placeholder site, for domains which do
# not yet have a directory inside sites_root.  If a domain points to the Apache
# webserver, the domain is not an alias for a different domain, and no
# directory inside sites_root which is named after the domain name exists, then
# the placeholder site will be shown.  The value of placeholder_site needs to
# be the name of an existing directory.
#
PLACEHOLDER_SITE = '/var/www/placeholder'

# One or more addresses of memcached servers.  This can either be a string or a
# Python list, allowing you to use multiple memcached servers by setting the
# value to something like ['<address>:port', '<address>:<port>', ...].  If you
# don't want to use memcached, you can disable it by setting the value of
# memcached_servers to None.
#
# Multiple memcached servers
#MEMCACHED_SERVERS = ['192.168.1.20:11211', '192.168.1.21:11211']
#
# Disable memcached
#MEMCACHED_SERVERS = None
#
MEMCACHED_SERVERS = ['127.0.0.1:11211']

# Local time zone for this installation. All choices can be found here:
# http://www.postgresql.org/docs/current/static/datetime-keywords.html#DATETIME-TIMEZONE-SET-TABLE
TIME_ZONE = 'Europe/Amsterdam'

# Django settings for webredirects administration interface.  Most of these
# settings you can leave alone.  See
# http://docs.djangoproject.com/en/dev/topics/settings/ for more information.
#
DEBUG = False
TEMPLATE_DEBUG = DEBUG

ADMINS = (
#    ('Me', 'myaddress@example.org'),
)

MANAGERS = ADMINS

# Language code for this installation. All choices can be found here:
# http://www.w3.org/TR/REC-html40/struct/dirlang.html#langcodes
# http://blogs.law.harvard.edu/tech/stories/storyReader$15
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# Absolute path to the directory that holds media.
# Example: "/home/media/media.lawrence.com/"
MEDIA_ROOT = ''

# URL that handles the media served from MEDIA_ROOT.
# Example: "http://media.lawrence.com"
MEDIA_URL = ''

# URL prefix for admin media -- CSS, JavaScript and images. Make sure to use a
# trailing slash.
# Examples: "http://foo.com/media/", "/media/".
ADMIN_MEDIA_PREFIX = '/media/'

# Make this unique, and don't share it with anybody.
SECRET_KEY = '75dwym(&aak$9ri5dhk1uxg+elpeqjky6)5=&2hex-mb$*$ns6'

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.load_template_source',
    'django.template.loaders.app_directories.load_template_source',
#     'django.template.loaders.eggs.load_template_source',
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.middleware.doc.XViewMiddleware',
)

ROOT_URLCONF = 'webredirects.urls'

import os
TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates".
    # Always use forward slashes, even on Windows.
    '%s/%s' % (os.path.dirname(__file__), 'templates'),
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.admin',
    'webredirects.redirects',
    'webredirects.memcached_status',
)
