# The directory where all the subdirectories with the sites are located.  Each
# site needs to have its own subdirectory inside sites_root, and the directory
# for each site needs to be named after the canonical domain name for that
# site, including a leading 'www.'.  E.g., if sites_root is set to '/var/www',
# the site for www.example.org needs to be in /var/www/www.example.org/.
#
sites_root = '/var/www'

# The directory with the fall-through placeholder site, for domains which do
# not yet have a directory inside sites_root.  If a domain points to the Apache
# webserver, the domain is not an alias for a different domain, and no
# directory inside sites_root which is named after the domain name exists, then
# the placeholder site will be shown.  The value of placeholder_site needs to
# be the name of an existing directory.
#
placeholder_site = '/var/www/placeholder'

# One or more addresses of memcached servers.  This can either be a string or a
# Python list, allowing you to use multiple memcached servers by setting the
# value to something like ['<address>:port', '<address>:<port>', ...].  If you
# don't want to use memcached, you can disable it by setting the value of
# memcached_servers to None.
#
# Multiple memcached servers
#memcached_servers = ['192.168.1.20:11211', '192.168.1.21:11211']
#
# Disable memcached
#memcached_servers = None
#
memcached_servers = '127.0.0.1:11211'
